name: GitHub Metrics

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Perfil
          user: roke741
          template: classic
          base: header, activity, repositories

          # Tema oscuro
          config_display: large
          config_timezone: America/Lima
          config_theme: dark

          # Repositorios
          repositories_forks: no
          repositories_affiliations: owner
          repositories_privacy: private, public

          # Actividad real
          plugin_activity: yes
          plugin_activity_days: 30
          plugin_activity_limit: 5
          plugin_activity_visibility: all

          # Lenguajes
          plugin_languages: yes
          plugin_languages_visibility: all
          plugin_languages_threshold: 2%
          plugin_languages_details: bytes-size
          plugin_languages_limit: 8
